#bmicalc {
  max-width:45em;
  font-family: 'Freight Sans','Open Sans', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  border: 1px #ccc solid;
  padding:0 1em 1em;

  & p{
    margin-top:0;
    display:inline-block;
  }

  & h2 {
    margin-bottom:0;
    border:0;
  } 

  & input {
    max-width:5em;
    display:inline-block;
  }

  & label {
    padding: 0 .5em 0 .2em;
    display:inline-block;
  }

  & legend {
    font-weight: bold;
    border:0;
    font-size:.9em;
    margin:0;
    padding:0;
  }
}



#bmicalc-number {
  font-size:3.6em;
}

fieldset {
  border:0;
  padding:1em 0;
}

@media all and (min-width:40em) {

  @supports ((display: -ms-grid) or (display: grid)) {
    #bmicalc {
      display:-ms-grid;
      display:grid;
      -ms-grid-columns: 65% 45%;
          grid-template-columns: 65% 45%;
      -ms-grid-rows: auto;
          grid-template-rows: auto;
      /*grid-column-gap: 1em;*/

      grid-template-areas: "calculator result";

      -webkit-box-align: center;

          -ms-flex-align: center;

              align-items: center;
      justify-items:stretch;
    }

    form {
      display:-ms-grid;
      display:grid;
      -ms-grid-columns: 40% 60%;
          grid-template-columns: 40% 60%;
      -ms-grid-rows:auto;
          grid-template-rows:auto;

      -webkit-box-align: center;

          -ms-flex-align: center;

              align-items: center;
      justify-items:stretch;
    }

    .bmicalc-heading {
      -ms-grid-column-span: 2;
      -ms-grid-column: 1;
          grid-column: 1 / span 2;
    }
  }

}

